:host {
    #tree-list-organization {
        height: calc(100vh - 190px);
    }
}

:host ::ng-deep {
    td {  
        border-left-style: none !important;  
        border-right-style: none !important;  
    } 
}