<div class="content-block">
    <h2>Vị trí công việc</h2>
    <dx-data-grid id="grid-position" class="dx-card wide-card" [dataSource]="dataSource" [showBorders]="true"
        [focusedRowEnabled]="true" [columnAutoWidth]="true" [keyExpr]="'JobPositionID'" [allowColumnResizing]="true"
        columnResizingMode="widget" (onSelectionChanged)="selectionChanged($event)">
        <dxo-toolbar>
            <dxi-item name="addRowButton">
            </dxi-item>
            <dxi-item location="after">
                <dx-button (onClick)="deleteRecords()" [disabled]="!selectedItemKeys.length" icon="trash" text="">
                </dx-button>
            </dxi-item>

            <dxi-item name="exportButton"></dxi-item>
            <dxi-item name="searchPanel"></dxi-item>
        </dxo-toolbar>

        <!-- columns -->
        <dxi-column dataField="JobPositionCode" caption="Mã vị trí"></dxi-column>
        <dxi-column dataField="JobPositionName" caption="Tên vị trí"></dxi-column>
        <dxi-column dataField="OrganizationUnitID" caption="Cơ cấu tổ chức">
            <dxo-lookup [dataSource]="organizations" valueExpr="OrganizationUnitID" displayExpr="OrganizationUnitName">
            </dxo-lookup>
        </dxi-column>
        <dxi-column dataField="Description" caption="Mô tả"></dxi-column>

        <!-- option -->
        <dxo-selection mode="multiple"></dxo-selection>

        <dxo-paging [pageSize]="10"></dxo-paging>

        <dxo-pager [displayMode]="''"></dxo-pager>

        <dxo-load-panel [enabled]="true"></dxo-load-panel>

        <dxo-filter-row [visible]="true"></dxo-filter-row>

        <dxo-search-panel [visible]="true" [width]="300"></dxo-search-panel>

        <dxo-export [enabled]="true"></dxo-export>
        <dxo-editing [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true" mode="popup">
            <dxo-popup title="Vị trí công việc" [showTitle]="true">
            </dxo-popup>
        </dxo-editing>

    </dx-data-grid>
</div>