<div class="content-block">
    <h2>Người dùng</h2>
    <dx-data-grid id="grid-user-role" class="dx-card wide-card" [dataSource]="dataSource" [showBorders]="false"
        [columnAutoWidth]="false" [keyExpr]="'UserRoleID'" (onSelectionChanged)="selectionChanged($event)"
        [columnMinWidth]="180" (onRowUpdating)="onUpdating($event)" (onRowInserting)="onInserting($event)"
        (onRowRemoving)="onRemoving($event)">

        <!-- toolbar -->
        <dxo-toolbar>
            <dxi-item name="addRowButton">
            </dxi-item>
            <dxi-item location="after">
                <dx-button (onClick)="deleteRecords()" [disabled]="!selectedItemKeys.length" icon="trash">
                </dx-button>
            </dxi-item>

            <dxi-item name="exportButton"></dxi-item>
            <dxi-item name="searchPanel"></dxi-item>
        </dxo-toolbar>

        <!-- columns -->
        <dxi-column dataField="UserID" caption="Tên người dùng">
            <dxo-lookup [dataSource]="users" valueExpr="UserID" displayExpr="FullName"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="RoleID" caption="Vai trò">
            <dxo-lookup [dataSource]="roles" valueExpr="RoleID" displayExpr="RoleName"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="OrganizationUnitID" caption="Cơ cấu tổ chức">
            <dxo-lookup [dataSource]="organizationUnits" valueExpr="OrganizationUnitID"
                displayExpr="OrganizationUnitName"></dxo-lookup>
        </dxi-column>

        <!-- option -->
        <dxo-selection mode="multiple"></dxo-selection>

        <dxo-paging [pageSize]="10"></dxo-paging>

        <dxo-pager [displayMode]="''"></dxo-pager>

        <dxo-load-panel [enabled]="true"></dxo-load-panel>

        <dxo-filter-row [visible]="true"></dxo-filter-row>

        <dxo-search-panel [visible]="true" [width]="300"></dxo-search-panel>

        <dxo-export [enabled]="true"></dxo-export>

        <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>

        <dxo-editing [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true" [confirmDelete]="true"
            mode="popup">
            <dxo-popup title="Vai trò" [showTitle]="true">
            </dxo-popup>
        </dxo-editing>

    </dx-data-grid>
</div>